<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="../layout::head">
    <title>Delete Product</title>
</head>
<body>
<h3>Delete Product</h3>
<p>
    <a th:href="@{/product/list}">Back To List Product</a>
</p>

<form th:action="@{/product/delete}" method="post" th:object="${product}">
    <input type="hidden" th:field="*{id}">
    <div>
        <label for="name">Name Product</label>
        <input type="text" id="name" th:field="*{name}">
    </div>

    <div>
        <label for="price">Price Product</label>
        <input type="text" id="price" th:field="*{price}" th:value="${#numbers.formatDecimal(price, 0, 'COMMA', 2, 'POINT')}" />
    </div>

    <div>
        <label for="description">Description Product</label>
        <input type="text" id="description" th:field="*{description}">
    </div>
    <div>
        <label for="manufacturer">Manufacturer Product</label>
        <input type="text" id="manufacturer" th:field="*{manufacturer}">
    </div>
    <div>
        <input type="submit" value="Delete">
    </div>
</form>
</body>
</html>