<div  th:fragment="mainMenu" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
     style="border: 1px solid #ccc;padding:5px;margin-bottom:20px; display: flex;justify-content: space-between">
    <div>
        <a th:href="@{/blog}" style="font-family: 'Dancing Script'; color: deeppink ;font-weight: bold; font-size: x-large">Blogs</a>
        | &nbsp;
        <a th:href="@{/}">Home</a>
        | &nbsp;
        <a th:href="@{/userInfo}">User Info</a>
        | &nbsp;
        <a sec:authorize="hasRole('ADMIN')" href="/admin">Admin| </a>
        <a sec:authorize="isAuthenticated()" th:href="@{/blog/create}">Post blog| </a>
    </div>

    <div>
<!--        <form sec:authorize="isAuthenticated()" action="/logout" method="post">-->
<!--            <input type="hidden"-->
<!--                   th:name="${_csrf.parameterName}"-->
<!--                   th:value="${_csrf.token}"/>-->
<!--            <button>Logout</button>-->
<!--        </form>-->
        <a sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a>
        <a sec:authorize="!isAuthenticated()" th:href="@{/login}">Login</a>
        |
        <span style="color: red" sec:authorize="isAuthenticated()">
            <span sec:authentication="name"></span>
        </span>
        <!--        <span sec:authorize="hasRole('USER')">USER visible</span>-->
        <!--        <span sec:authorize="hasRole('ADMIN')">ADMIN visible</span>-->
    </div>

</div>