<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:insert="~{/layout::library}"/>
</head>
<body>
<th:block th:insert="~{/layout::navbar}"/>
<h1>Danh sách sinh viên</h1>
<a class="btn btn-sm btn-success" href="/students/add">Them moi</a>
<table class="table table-dark table-striped">
    <tr>
        <th>STT</th>
        <th>ID</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Languages</th>
        <th>Class</th>
        <th>Detail-RequestParam</th>
        <th>Detail-PathVariable</th>
    </tr>

    <tr th:each="student, status:${studentList}">
        <td th:text="${status.count}"></td>
        <td th:text="${student.id}"></td>
        <td th:text="${student.name}"></td>

        <td th:switch="${student.gender}">
            <span th:case="1" th:text="'Male'"></span>
            <span th:case="0" th:text="'Female'"></span>
            <span th:case="-1" th:text="'LGBT'"></span>
        </td>

        <td>
            <span th:each="lang:${student.languages}" th:text="${lang}"></span>
        </td>

        <td th:text="${student.classCG.name}"></td>
        <td>
            <a class="btn btn-sm btn-primary" th:href="@{/students/detail(id=${student.id})}">Detail1</a>
        </td>
        <td>
            <a class="btn btn-sm btn-primary" th:href="@{/students/detail/__${student.id}__}">Detail2</a>
        </td>
    </tr>
    <tr>
        <td colspan="8" th:if="${studentList.isEmpty()}" th:text="'Danh sách trống'"></td>
    </tr>
</table>

</body>
</html>